@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Medium.eot");
  src: local("../font/Poppins Medium"), local("Poppins-Medium"), url("../font/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../font/Poppins-Medium.woff2") format("woff2"), url("../font/Poppins-Medium.woff") format("woff"), url("../font/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Regular.eot");
  src: local("../font/Poppins Regular"), local("Poppins-Regular"), url("../font/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Poppins-Regular.woff2") format("woff2"), url("../font/Poppins-Regular.woff") format("woff"), url("../font/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-SemiBold.eot");
  src: local("../font/Poppins SemiBold"), local("Poppins-SemiBold"), url("../font/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../font/Poppins-SemiBold.woff2") format("woff2"), url("../font/Poppins-SemiBold.woff") format("woff"), url("../font/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Light.eot");
  src: local("../font/Poppins Light"), local("Poppins-Light"), url("../font/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../font/Poppins-Light.woff2") format("woff2"), url("../font/Poppins-Light.woff") format("woff"), url("../font/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Bold.eot");
  src: local("../font/Poppins Bold"), local("Poppins-Bold"), url("../font/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Poppins-Bold.woff2") format("woff2"), url("../font/Poppins-Bold.woff") format("woff"), url("../font/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.header .header-top {
  width: 100%;
  background: black;
}
.header .header-top .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 0;
  min-height: 45px;
  cursor: pointer;
}
.header .header-top .block .desctop-logo {
  height: 50px;
  width: 65px;
  background: #0156FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 40px 40px 0px 0;
  display: none;
}
.header .header-top .block .calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 190px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  line-height: 150%;
}
.header .header-top .block .calendar__month {
  margin-right: 7px;
}
.header .header-top .block .calendar__pm {
  margin-right: 10px;
}
.header .header-top .block .adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 450px;
  line-height: 150%;
}
.header .header-top .block .adress__street {
  color: #ACACAC;
}
.header .header-top .block .adress__contact-us {
  margin-left: 3px;
  height: 17px;
}
.header .header-top .block .adress__contact-us:hover {
  border-bottom: 2px solid white;
  padding-bottom: 7px;
}
.header .header-top .block .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 200px;
}
.header .header-top .block .contact__call {
  margin-right: 17px;
}
.header .header-top .block .contact__link-facebook {
  margin-right: 17px;
}

.header-bottom {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
}
.header-bottom .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  min-height: 92px;
  padding-top: 5px;
}
.header-bottom .block .choice-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header-bottom .block .choice-block .logo img {
  margin-right: 60px;
  width: 34px;
  height: 40px;
}
.header-bottom .block .choice-block .menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
}
.header-bottom .block .choice-block .menu__item {
  line-height: 21px;
  margin-right: 25px;
}
.header-bottom .block .choice-block .menu__item:last-child {
  margin-right: 0px;
}
.header-bottom .block .choice-block .menu__link {
  line-height: 150%;
  padding: 5px;
  display: inline-block;
  border-radius: 50px;
  border: 2px solid white;
}
.header-bottom .block .choice-block .menu__link:hover {
  border: 2px solid #0156FF;
}
.header-bottom .block .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header-bottom .block .actions__search img {
  margin-right: 30px;
  width: 16px;
  height: 16px;
}
.header-bottom .block .actions__card img {
  margin-right: 30px;
  width: 19px;
  height: 17px;
}
.header-bottom .block .actions__account img {
  width: 36px;
  height: 36px;
}

.tablet-menu {
  width: 100%;
  background: #0156FF;
  display: none;
}
.tablet-menu__logo {
  display: none;
}
.tablet-menu .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  min-height: 64px;
  width: 100%;
}

.mobile-menu {
  width: 100%;
  background: #0156FF;
  display: none;
}
.mobile-menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 120px;
  height: 35px;
  border: 2px solid white;
  border-radius: 50px;
  background: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
}
.mobile-menu .block {
  min-height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.mobile-menu .block .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
}

@media (max-width: 1430px) {
  .header .header-top .block {
    margin: 0 20px 0;
  }
}
@media (max-width: 900px) {
  .header .header-top .block {
    position: relative;
  }
  .header .header-top .block .desctop-logo {
    display: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    left: 2.6%;
    right: 89.06%;
    top: 5.77%;
    bottom: 46.49%;
  }
  .header .header-top .block .calendar {
    margin-left: 120px;
  }
  .header .header-top .block .adress__street {
    display: none;
  }
  .header .header-top .block .contact {
    display: none;
  }
}
@media (max-width: 450px) {
  .header .header-top .block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: center;
            flex-direction: center;
    font-size: 10px;
    margin: 0 15px 0;
  }
  .header .header-top .block .desctop-logo {
    display: none;
  }
  .header .header-top .block .calendar {
    margin-left: 0;
    border: 1px solid #ACACAC;
    border-radius: 50px;
    padding: 5px;
  }
  .header .header-top .block .adress {
    display: none;
  }
  .header .header-top .block .contact {
    display: initial;
  }
  .header .header-top .block .contact__call {
    margin-right: 0;
  }
  .header .header-top .block .contact__link-facebook {
    display: none;
  }
  .header .header-top .block .contact__link-insta {
    display: none;
  }
}
@media (max-width: 1430px) {
  .header .header-bottom .block {
    margin: 0 20px 0;
  }
  .header .header-bottom .block .choice-block .logo img {
    margin-right: 30px;
  }
}
@media (max-width: 900px) {
  .header .header-bottom .block {
    display: none;
  }
}
@media (max-width: 900px) {
  .tablet-menu {
    display: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tablet-menu .block {
    margin: 0 60px 0;
  }
  .tablet-menu .block .search-window {
    margin: 0 10px 0;
  }
  .tablet-menu__card {
    margin-right: 10px;
  }
}
@media (max-width: 780px) {
  .tablet-menu .block {
    margin: 0px 30px 0px 56px;
  }
  .tablet-menu .block .search-window {
    min-width: 400px;
  }
  .tablet-menu .block .search-window__img {
    margin-right: 10px;
  }
  .tablet-menu .block .search-window__text {
    font-size: 11px;
    color: #ACACAC;
  }
  .tablet-menu .block .search-window__input {
    min-width: 300px;
    border: none;
    background: none;
  }
  .tablet-menu .block .search-window__input:focus {
    outline: none;
  }
}
@media (max-width: 610px) {
  .tablet-menu .block {
    margin: 0px 30px 0px 56px;
  }
  .tablet-menu .block .search-window {
    min-width: 300px;
  }
  .tablet-menu .block .search-window__img {
    margin-right: 10px;
  }
  .tablet-menu .block .search-window__text {
    font-size: 11px;
    color: #ACACAC;
  }
  .tablet-menu .block .search-window__input {
    min-width: 200px;
    border: none;
    background: none;
  }
  .tablet-menu .block .search-window__input:focus {
    outline: none;
  }
}
@media (max-width: 510px) {
  .tablet-menu .block {
    margin: 0px 20px 0px 30px;
  }
  .tablet-menu .block .search-window {
    min-width: 250px;
  }
  .tablet-menu .block .search-window__img {
    margin-right: 10px;
  }
  .tablet-menu .block .search-window__text {
    font-size: 11px;
    color: #ACACAC;
  }
  .tablet-menu .block .search-window__input {
    min-width: 170px;
    border: none;
    background: none;
  }
  .tablet-menu .block .search-window__input:focus {
    outline: none;
  }
}
@media (max-width: 450px) {
  .tablet-menu {
    display: none;
  }
}
@media (max-width: 450px) {
  .mobile-menu {
    display: initial;
  }
  .mobile-menu .block {
    padding: 0 15px 0;
  }
  .mobile-menu .block .search-window {
    min-width: 250px;
  }
  .mobile-menu .block .search-window__img {
    margin-right: 10px;
  }
  .mobile-menu .block .search-window__text {
    font-size: 11px;
    color: #ACACAC;
  }
  .mobile-menu .block .search-window__input {
    min-width: 170px;
    border: none;
    background: none;
  }
  .mobile-menu .block .search-window__input:focus {
    outline: none;
  }
}
.hero .hero-block {
  min-height: 330px;
  width: 100%;
  background-image: url(../img/main-img.png.);
  background-size: 100%;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  line-height: 1;
  height: 100%;
  background: #ffffff;
  font-family: "Poppins";
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.search-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  min-width: 520px;
  height: 38px;
  background: white;
  border-radius: 50px;
  padding-left: 15px;
}
.search-window__img {
  margin-right: 10px;
}
.search-window__text {
  font-size: 11px;
  color: #ACACAC;
}
.search-window__input {
  min-width: 400px;
  border: none;
  background: none;
}
.search-window__input:focus {
  outline: none;
}/*# sourceMappingURL=style.css.map */