.hero {
    .hero-block {
        min-height: 330px;
        width: 100%;
        background-image: url(../img/main-img.png.);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}